In [1]:
import numpy as np
import pandas as pd

In [14]:
data=pd.read_csv('spacex_launch_dash.csv')
data['bins'] = pd.cut(x=data['Payload Mass (kg)'], bins=[0,2500,5000,7500,10000])
data.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category,bins
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0,NaN
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0,NaN
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0,"(0.0, 2500.0]"
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0,"(0.0, 2500.0]"
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0,"(0.0, 2500.0]"

In [15]:
data[['Launch Site','class']].groupby(by=["Launch Site"])['class'].mean()

Launch Site
CCAFS LC-40     0.269231
CCAFS SLC-40    0.428571
KSC LC-39A      0.769231
VAFB SLC-4E     0.400000
Name: class, dtype: float64

In [30]:
data[['Launch Site','class']].groupby(by=["Launch Site"])['class'].count()

Launch Site
CCAFS LC-40     26
CCAFS SLC-40     7
KSC LC-39A      13
VAFB SLC-4E     10
Name: class, dtype: int64

In [21]:
data[['bins','class']].groupby(by=["bins"])['class'].mean()

bins
(0, 2500]        0.368421
(2500, 5000]     0.571429
(5000, 7500]     0.222222
(7500, 10000]    0.600000
Name: class, dtype: float64

In [29]:
data[(data['Payload Mass (kg)']>7500) &(data['Payload Mass (kg)']<=10000)]

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category,bins
28,28,29,VAFB SLC-4E,1,9600.0,F9 FT B1029.1,FT,"(7500, 10000]"
29,29,37,VAFB SLC-4E,1,9600.0,F9 FT B1036.1,FT,"(7500, 10000]"
31,31,42,VAFB SLC-4E,1,9600.0,F9 B4 B1041.1,B4,"(7500, 10000]"
32,32,46,VAFB SLC-4E,0,9600.0,F9 FT B1036.2,FT,"(7500, 10000]"
34,34,51,VAFB SLC-4E,0,9600.0,F9 B4 B1041.2,B4,"(7500, 10000]"

In [19]:
# temp=data[['Booster Version','Booster Version Category','class']]
# temp=temp[temp['Booster Version']=='']
# temp.groupby(by=['Booster Version','Booster Version Category'])['class'].mean()

In [26]:
data.bins

0                   NaN
1                   NaN
2         (0.0, 2500.0]
3         (0.0, 2500.0]
4         (0.0, 2500.0]
5      (2500.0, 5000.0]
6      (2500.0, 5000.0]
7         (0.0, 2500.0]
8         (0.0, 2500.0]
9      (2500.0, 5000.0]
10     (2500.0, 5000.0]
11        (0.0, 2500.0]
12        (0.0, 2500.0]
13        (0.0, 2500.0]
14     (2500.0, 5000.0]
15        (0.0, 2500.0]
16     (2500.0, 5000.0]
17        (0.0, 2500.0]
18        (0.0, 2500.0]
19     (5000.0, 7500.0]
20     (2500.0, 5000.0]
21     (2500.0, 5000.0]
22     (2500.0, 5000.0]
23     (2500.0, 5000.0]
24        (0.0, 2500.0]
25     (2500.0, 5000.0]
26        (0.0, 2500.0]
27        (0.0, 2500.0]
28    (7500.0, 10000.0]
29    (7500.0, 10000.0]
30        (0.0, 2500.0]
31    (7500.0, 10000.0]
32    (7500.0, 10000.0]
33        (0.0, 2500.0]
34    (7500.0, 10000.0]
35     (5000.0, 7500.0]
36        (0.0, 2500.0]
37     (5000.0, 7500.0]
38     (5000.0, 7500.0]
39     (2500.0, 5000.0]
40     (5000.0, 7500.0]
41     (2500.0, 5000.0]
42     (2500.0, 5000.0]
43     (5000.0, 7500.0]
44     (2500.0, 5000.0]
45     (2500.0, 5000.0]
46     (5000.0, 7500.0]
47     (2500.0, 5000.0]
48     (2500.0, 5000.0]
49        (0.0, 2500.0]
50     (2500.0, 5000.0]
51     (2500.0, 5000.0]
52     (5000.0, 7500.0]
53     (2500.0, 5000.0]
54        (0.0, 2500.0]
55     (5000.0, 7500.0]
Name: bins, dtype: category
Categories (4, interval[int64, right]): [(0, 2500] < (2500, 5000] < (5000, 7500] < (7500, 10000]]